<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.quxiu.deal.mapper.VeDealColorMapper" >
  <resultMap id="BaseResultMap" type="VeDealColor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="TINYINT" />
    <result column="relid" property="relid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    d_c.id id, d_c.mid, d_c.name, d_c.color, d_c.sort, d_c.relid
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ve_deal_color d_c
    where d_c.id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getDealColorByDealId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ve_deal_color d_c
    where d_c.mid = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getDealColorByRelId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ve_deal_color d_c
    where d_c.relid like CONCAT('%',#{id,jdbcType=INTEGER},'%')
  </select>
  
  <insert id="save" parameterType="VeDealColor" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
    insert into ve_deal_color
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="relid != null" >
        relid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=TINYINT},
      </if>
      <if test="relid != null" >
        #{relid,jdbcType=VARCHAR},
      </if>
    </trim>
	<selectKey keyProperty="id" resultType="int" order="AFTER">  
       SELECT LAST_INSERT_ID();  
    </selectKey>    
  </insert>
  
  <update id="update" parameterType="VeDealColor" >
    update ve_deal_color
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="relid != null" >
        relid = #{relid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>